<% const messages = flash(); %>

<% Object.keys(messages).forEach(type => { %>

  <% if (messages[type].length > 0) { %>

    <% messages[type].forEach(msg => { %>

      <div class="alert <%= type %>">
        <%= msg %>
      </div>

    <% }); %>

  <% } %>

<% }); %>