<%- include("partials/header", { title: title }) %>

<main>
  <h2>Service Project Categories</h2>

  <p>
    <a href="/new-category" class="button">
      Create New Category
    </a>
  </p>

  <section class="category-grid">
    <% categories.forEach(category => { %>
      <article class="category-card">

        <a href="/category/<%= category.category_id %>">
          <h3><%= category.name %></h3>
        </a>

        <p>
          
          <% if (user && user.role_name === "admin") { %>
            <a href="/new-category">Create New Category</a>
          <% } %>
        </p>

      </article>
    <% }) %>
  </section>
</main>

<%- include("partials/footer") %>