<%- include("partials/header", { title: title }) %>

<main>
  <h2>Service Project Categories</h2>

  <section class="category-grid">
    <% categories.forEach(category => { %>
      <article class="category-card">
        <a href="/category/<%= category.category_id %>">
          <h3><%= category.name %></h3>
        </a>
      </article>
    <% }) %>
  </section>
</main>

<%- include("partials/footer") %>